.build_cache
.cache/
.coverage
.coverage.*
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.tox/
.venv/
.vscode/
__pycache__/
__stale_wrapper_dash_mantine_datatable/
build/
coverage/
dist/
htmlcov/
node_modules/
pytest-cache-files-*/
pytest-tmp/
venv/
*.egg-info/
*.log
*.py[cod]
*.tgz
.pypirc
