include dash_mantine_datatable/dash_mantine_datatable.min.js
include dash_mantine_datatable/dash_mantine_datatable.min.js.map
include dash_mantine_datatable/metadata.json
include dash_mantine_datatable/package-info.json
include dash_mantine_datatable/*.txt
include README.md
include LICENSE
include package.json
